        body{
          
         }

         #banner
         {
            width: 100%;
            height: auto;
            border: 10px solid black;
            padding: auto;
            margin: auto;
         }

         .Principal{
            background-color: aliceblue;
            padding: 20px;
         }
         .titulo-principal{
padding-left: 20px;

         }
         .titulo-center{
            text-align: center;
         }
    p{
    text-align: center;

    }
    
    #Five {
      font-size: 20px
    }

 em strong{
    color: red;
}

.itens {
   font-style: normal;
}
.Beneficios {
   background: #8db9c7;
   padding: 20px;
}


ul{
   display: inline-block;
   vertical-align: top;
   width: 20%;
   margin-right: 15%;
}
.imagemB{
   width: 100%;
   
}